@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffef;
  font-family: 'PT Sans', sans-serif;
}

a {
  color: #212121;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 12px 42px;
  border-bottom: 2px solid #212121;
  font-size: 20px;
}

.header-home {
  text-transform: uppercase;
  font-weight: 700;
  color: #212121;
}

.header-home a {
  text-decoration: none;
}

.header-nav {
  font-style: italic;
  font-family: 'PT Serif', serif;
}

.header-nav ul {
  list-style: none;
  display: flex;
}

.header-nav li {
  margin-left: 20px;
}


/* pages */
.home-page,
.archive-page,
.create-page,
.detail-page,
.not-found {
  padding: 24px 84px;
}

.home-page h1,
.archive-page h1,
.create-page h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}


/* create note */
.create-note form {
  display: flex;
  flex-direction: column;
}

.input-title,
.input-body {
  padding: 10px;
  background-color: #212121;
  color: #ffffef;
  border: none;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
}

.input-body {
  height: 20vh;
}

.input-title:focus,
.input-body:focus {
  outline: none;
}

.create-note__button {
  padding: 10px;
  border: 2px solid #212121;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease;
}

.create-note__button:hover {
  background-color: red;
  color: white;
}


/* note item */
.note-item {
  margin-bottom: 20px;
}

.note-item__title a {
  text-decoration: none;
  font-size: 20px;
}

.note-item__created {
  opacity: 0.8;
}


/* note detail */
.note-detail {
  margin: 40px 0;
}

.note-detail__content {
  font-size: 18px;
}

.note-detail__title {
  font-size: 3em;
}

.note-detail__created {
  opacity: 0.7;
}

.note-detail__body {
  margin-top: 20px;
}

.note-detail__buttons {
  text-align: right;
  margin-top: 80px;
}

.note-detail__buttons .button {
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 20px;
  border: 2px solid #212121;
  transition: all .3s ease;
  cursor: pointer;
}

.note-detail__delete:hover {
  background-color: red;
  color: white;
}

.note-detail__archive:hover,
.note-detail__restore:hover {
  background-color: blue;
  color: white;
}


/* conditional rendering */
.conditional-rendering {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 700;
}


/* search bar */
.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #212121;
  margin-bottom: 40px;
  font-family: 'PT Sans', sans-serif;
}


@media screen and (max-width: 650px) {
  header {
    padding: 12px;
    font-size: 16px;
  }

  .header-nav li {
    margin-left: 10px;
  }

  .home-page,
  .archive-page,
  .create-page,
  .detail-page,
  .not-found {
    padding: 24px;
  }
  
  .input-title,
  .input-body {
    font-size: 16px;
  }

  .note-detail {
    margin: 10px 0;
  }
  
  .note-detail__content {
    font-size: 16px;
  }
  
  .note-detail__title {
    font-size: 1.5em;
  }

  .note-detail__body {
    margin-top: 10px;
  }

  .search-bar {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1200px) {
  header {
    padding: 12px 24px;
    font-size: 17px;
  }

  .header-nav li {
    margin-left: 15px;
  }

  .home-page,
  .archive-page,
  .create-page,
  .detail-page,
  .not-found {
    padding: 24px 42px;
  }
  
  .input-title,
  .input-body {
    font-size: 17px;
  }

  .note-detail {
    margin: 20px 0;
  }
  
  .note-detail__content {
    font-size: 17px;
  }
  
  .note-detail__title {
    font-size: 2em;
  }

  .note-detail__body {
    margin-top: 15px;
  }

  .search-bar {
    font-size: 17px;
    margin-bottom: 30px;
  }
}